<div class = "background">
  <div class = "container">
    <h1>{{stockname}}</h1>
    <hr>
    <div class = "details">
      Stock symbol: {{ securities.symbol }}<br><br>
      Current stock price: {{ securities.price }}<br><br>
      Gives a dividend?: {{ securities.dividend }}<br><br>
      Current rating: {{ securities.rating }}<br><br>
      52 week high: {{ securities.high }} <br><br>
      52 week low: {{ securities.low }}<br>
    </div>
    <hr>
    <div class = "button">
      <button mat-raised-button (click)="close()">GO BACK</button>
    </div>
  </div>
</div>
