
.details {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  padding: 16px;
  font-family: inherit;
  font-size: 20px;
}
* {box-sizing: border-box}


label{
  font-size: 110%;
}
h1{
  text-align: center;
  background: rgb(12, 77, 129);
  padding: 15px;
  color: #fff;
}


/* Set a style for all buttons */
button {
  background-color: rgb(87, 117, 139);
  color: white;
  padding: 10px 20px;
  margin-top: 4px ;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
  font-size: 20px;
}
.button{
  text-align: right;
}

button:hover {
  opacity:1;
}



/* The Modal (background) */
.background {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 20px;
}

/* content*/
.container {
  padding: 13px;
  background-color: #ebebeb;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

