<h1>{{ title }}</h1> <!-- should eventually pull from database-->
<input id="myInput" (keyup)="myFunction()"  type="text" placeholder="Search for names..">


<table id = "port-table" class = "port-table">
  <tr class = "header">
    <th>Stock Name</th>
    <th>Quantity</th>
    <th>Value of Stock Owned</th>
    <th>Current Cost</th>
    <th></th>
  </tr>

  <tr class="items" *ngFor="let position of positions; let i = index" >
    <td>{{position.name}}</td>
    <td>{{position.quantity}}</td>
    <td>{{position.value}}</td>
    <td>{{position.cost}}</td>
    <td>
        <button mat-raised-button (click)="OpenTradeDialog(i)" >Buy/Sell</button>

    </td>
  </tr>

</table>
<h1 style = "color: red"> {{ dialogResult }} </h1>
