<script>
  function myFunction(){
    // tslint:disable-next-line: one-variable-per-declaration
    let input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    table = document.getElementById('port-table');
    tr = table.getElementsByTagName('tr');

  // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td')[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }
  }
</script>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id = "port-table" class = "port-table">
  <tr class = "header">
    <th>Stock Name</th>
    <th>Quantity</th>
    <th>Value of Stock Owned</th>
    <th>Current Cost</th>
  </tr>

  <tr *ngFor="let position of positions" >
    <td>{{position.name}}</td>
    <td>{{position.quantity}}</td>
    <td>{{position.value}}</td>
    <td>{{position.cost}}</td>
  </tr>

</table>
