<h1>Broker Dashboard</h1>
<!-- Broker Dashboard will eventually use {{ }} to inherit the broker's name who is logged in -->

<div class = "cust">
  CUSTOMER LIST
</div>
<br>
<input id="myInput" (keyup)="myFunction()"  type="text" placeholder="Search...">

<table id = "port-table" class = "port-table">
  <tr class = "header">
    <th>Customer Name</th>
    <th>Customer ID</th>
  </tr>

  <tr (click)="openCust(i)" class="items" *ngFor="let customer of customers; let i = index" >
    <td>{{customer.name}}</td>
    <td>{{customer.cid}}</td>
  </tr>

</table>
