<h1>Broker Dashboard</h1>
<!-- Broker Dashboard will eventually use {{ }} to inherit the broker's name who is logged in -->

<div class = "cust">
  CUSTOMER LIST
</div>
<br>
<input id="myInput" (keyup)="myFunction()"  type="text" placeholder="Search for customers...">

<table id = "port-table" class = "port-table">
  <tr class = "header">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Customer ID</th>
  </tr>

  <tr class="items" *ngFor="let customer of customers" >
    <td>{{customer.firstname}}</td>
    <td>{{customer.lastname}}</td>
    <td>{{customer.cid}}</td>
  </tr>

</table>
